.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.fc-button.fc-button-primary button {
  background: 'linear-gradient(45deg, #00b4ac, 30%, #fef302, 90%)' !important;
  border: 0 !important;
  border-radius: 3 !important;
  box-shadow: '0 3px 5px 2px rgba(255, 105, 135, .3)' !important;
  color: 'white' !important;
  height: 48 !important;
  padding: '0 30px' !important;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
