@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';
@import '~@fullcalendar/timegrid/main.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.seavents-fc {
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
}

.seavents-fc-top {
  margin: 0 0 3em;
}

.seavents-fc-calendar {
  margin: 0 auto;
  max-width: 900px;
}
.fc-button.fc-button-primary button {
  background: 'linear-gradient(45deg, #00b4ac, 30%, #fef302, 90%)' !important;
  border: 0 !important;
  border-radius: 3 !important;
  box-shadow: '0 3px 5px 2px rgba(255, 105, 135, .3)' !important;
  color: 'white' !important;
  height: 48 !important;
  padding: '0 30px' !important;
}